<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Statistics</title>


    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css" th:href="@{/assets/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../assets/js/main.js" type="module" th:src="@{/assets/js/main.js}"></script>

</head>
<body>
    <nav class="navbar" th:replace="fragments/navbar :: navbar"></nav>

    <div id="stat-container">
        <ul id="stat-list">
            <li>
                <span class="value" th:text="${imagesNumber}"></span>
                <span class="label" th:text="${imagesNumber != 1} ? #{images} : #{image}">Images</span>
            </li>
            <li>
                <span class="value" th:text="${annotationsNumber}"></span>
                <span class="label" th:text="${annotationsNumber != 1} ? #{annotations} : #{annotation}">Annotations</span>
            </li>
            <li>
                <span class="value" th:text="${avgAnnotations}"></span>
                <span class="label" th:utext="#{avg.annotations}">avg. annotations<br>per image</span>
            </li>
            <li>
                <span class="value" th:text="${conflictsNumber}"></span>
                <span class="label" th:text="${conflictsNumber != 1} ? #{conflicts} : #{conflict}">conflicts</span>
            </li>
        </ul>
    </div>

</body>
</html>