<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta content="text/html; charset=UTF-8">-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign details</title>

    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="../../assets/js/main.js" type="module" th:src="@{/assets/js/main.js}"></script>

    <script src="../../assets/js/campaign-details.js" th:src="@{/assets/js/campaign-details.js}"></script>
</head>
<body>
    <img style="display: none" src="/assets/images/puff.svg">
    <img style="display: none" src="/assets/images/remove.svg">

    <nav class="navbar" th:replace="fragments/navbar :: navbar"></nav>
    <div class="container desktop-fixed">

        <div id="campaign-details">
            <form id="change-status-form" th:action="@{/campaign/change-status}" data-popup="change-status-confirm">
                <h4 th:text="${campaign.name}">Campaign name</h4>
                <span class="subtitle-2" th:text="#{client}">Client</span><span class="body-2" id="campaign-client" th:text="${campaign.client}">Politecnico di Milano</span>
                <span class="subtitle-2" th:text="#{status}">Status</span>

                <div class="status-container">
                <th:block th:switch="${campaign.status}">
                    <img th:case="'CREATED'" th:src="@{/assets/images/lens-24px-yellow.svg}" src="../../assets/images/lens-24px-yellow.svg">
                    <img th:case="'STARTED'" th:src="@{/assets/images/lens-24px-green.svg}" src="../../assets/images/lens-24px-green.svg">
                    <img th:case="'CLOSED'" th:src="@{/assets/images/lens-24px-red.svg}" src="../../assets/images/lens-24px-red.svg">
                </th:block>
                <span class="body-2" th:text="${#messages.msg('status.'+campaign.status)}">CREATED</span>
                </div>

                <input type="hidden" name="id" th:value="${campaign.id}">
                <input type="hidden" name="status" th:value="${campaign.status.equals('CREATED')} ? 'STARTED' : 'CLOSED'">
                <input class="contained-button" th:unless="${campaign.status.equals('CLOSED')}" th:class="${campaign.status.equals('CREATED')} ? 'contained-button green' : 'contained-button red'" type="submit" value="Start Campaign" th:value="${campaign.status.equals('CREATED')} ? 'Start Campaign' : 'Close Campaign'" disabled th:disabled="${!hasImage || campaign.status.equals('CLOSED')}">
            </form>
        </div>

        <div id="add-new-image-container" th:class="${!created} ? 'only-map' : ''">
            <h4 th:if="${created}" th:text="#{load-new-photo}">Carica nuova foto</h4>
            <div id="map-container">
                <div class="map" id="map"></div>
                <span th:if="${created}" class="subtitle-2" th:text="#{map-instruction}">Seleziona un punto sulla mappa per recuperare le coordiate geografiche.</span>
            </div>
            <div th:if="${created}" id="add-new-image-form">
                <form method="post" enctype="multipart/form-data" th:action="@{/campaign/images/add}" novalidate>
                    <fieldset th:disabled="${!created}">
                        <input id="campaign-id" type="hidden" name="id" th:value="${campaign.id}">
                        <section id="first-section">
                            <div class="input-container">
                                <input type="text" id="input-latitude" placeholder=" " name="latitude" required readonly>
                                <label for="input-latitude" class="placeholder" th:text="#{latitude}">Latitude</label>
                                <span class="input-lock"></span>
                            </div>
                            <div class="input-container">
                                <input type="text" id="input-longitude" placeholder=" " name="longitude" required readonly>
                                <label for="input-longitude" class="placeholder" th:text="#{longitude}">Longitude</label>
                                <span class="input-lock"></span>
                            </div>
                            <div class="input-container">
                                <div class="input-file-button">
                                    <input id="input-photo" type="file" name="photo" data-preview_id="campaign-photo-preview" accept="image/*">
                                    <label for="input-photo" class="button outline-button" th:text="#{select-photo}">Seleziona foto</label>
                                </div>
                            </div>
                        </section>
                        <section id="second-section">
                            <div class="form-row">
                                <div class="input-container">
                                    <input type="text" id="input-municipality" placeholder=" " name="municipality" required readonly>
                                    <label for="input-municipality" class="placeholder" th:text="#{municipality}">Comune</label>
                                    <span class="input-lock"></span>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="input-region" placeholder=" " name="region" required readonly>
                                    <label for="input-region" class="placeholder" th:text="#{region}">Regione</label>
                                    <span class="input-lock"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="input-container">
                                    <input id="input-date" type="date" name="date" required>
                                    <label for="input-date" class="placeholder" th:text="#{date}">Data</label>
                                </div>
                                <div class="input-container">
                                    <select id="input-resolution" name="resolution" required>
                                        <option value=" " th:text="#{select}" disabled hidden selected>Seleziona</option>
                                        <option value="GOOD" th:text="#{resolution.GOOD}">Alta</option>
                                        <option value="MEDIUM" th:text="#{resolution.MEDIUM}">Media</option>
                                        <option value="LOW" th:text="#{resolution.LOW}">Bassa</option>
                                    </select>
                                    <label for="input-resolution" class="placeholder" th:text="#{resolution}">Risoluzione</label>
                                </div>
                            </div>
                            <div class="input-container">
                                <input id="input-source" type="text" placeholder=" " name="source" required>
                                <label for="input-source" class="placeholder" th:text="#{source}">Provenienza</label>
                            </div>
                        </section>
                        <div class="preview empty" id="campaign-photo-preview">
                            <h4 th:text="#{preview}">Anteprima</h4>
                            <img>
                        </div>
                        <input class="contained-button" type="submit" th:value="#{send}" value="INVIA">
                    </fieldset>
                </form>
            </div>
        </div>

        <div id="image-list-container">
            <h4 th:text="#{campaign-photo}">Foto campagna</h4>
            <div th:unless="${!hasImage}" id="campaign-image-list">

                <ul th:remove="all-but-first">
                    <li th:each="image : ${images}" th:data-image-id="${image.id}" th:data-longitude="${image.location.longitude}" th:data-latitude="${image.location.latitude}" th:data-has-annotations="${!annotations.get(image.id).isEmpty()}">
                        <img style="width: 24px" src="../../assets/images/puff.svg" th:src="@{/assets/images/puff.svg}">
                        <div class="image-buttons">
                            <button class="delete-image-btn" th:if="${campaign.status.equals('CREATED')}" th:data-image_id="${image.id}"></button>
                            <button class="map-target-btn"></button>
                        </div>
                    </li>
                </ul>

            </div>
            <span class="subtitle-2 empty-list-message" th:if="${!hasImage}" th:text="#{empty-photo-list-message}">Ancora nessuna foto</span>
        </div>

    </div>

    <div id="windows" th:remove="all-but-first">

        <!--/*@thymesVar id="imageAnnotations" type="java.util.List"*/-->
        <div th:each="image : ${images}" th:data-image-id="${image.id}" class="window hidden" th:with="imageAnnotations=${annotations.get(image.id)}">
                <div class="wnav">
                    <button class="window-close-btn"></button>
                </div>
                <div class="wcontent manager-images-window-content">
                    <div class="image">
                        <img style="width: 24px" src="../../assets/images/puff.svg" th:src="@{/assets/images/puff.svg}">
                    </div>
                    <div class="image-details">
                        <section class="light">
                            <h5 th:text="#{latitude}">Latitude</h5>
                            <h5 th:text="#{longitude}">Longitude</h5>
                            <h5 th:text="#{municipality}">Municipality</h5>
                            <h5 th:text="#{region}">Region</h5>
                        </section>
                        <section>
                            <h5 th:text="${image.location.latitude}">45.956295023</h5>
                            <h5 th:text="${image.location.longitude}">9.4638563802</h5>
                            <h5 th:text="${image.municipality}">Milano</h5>
                            <h5 th:text="${image.region}">Lombardia</h5>
                        </section>
                        <section>
                            <h5 th:text="#{date}">Date</h5>
                            <h5 th:text="#{resolution}">Resolution</h5>
                        </section>
                        <section>
                            <h5 th:text="${#dates.format(image.date, 'dd-MM-yyyy')}">11-04-2020</h5>
                            <h5 th:text="${#messages.msg('resolution.'+image.resolution)}">Good</h5>
                        </section>
                    </div>

                    <div th:id="'slider-'+${image.id}" class="slider" style="display: contents">

                        <div class="separator">
                            <div th:unless="${imageAnnotations.isEmpty()}" class="nav-controller">
                                <button class="left-arrow"></button>
                                <span class="counter index" th:text="'1 / '+${imageAnnotations.size()}">1/12</span>
                                <button class="right-arrow"></button>
                            </div>
                        </div>

                        <!--/*@thymesVar id="joinedBean" type="it.polimi.tiw.utils.beans.JoinedBean<it.polimi.tiw.beans.Annotation, it.polimi.tiw.beans.User, it.polimi.tiw.beans.Worker>"*/-->
                        <ul class="annotations" data-current="0" th:remove="all-but-first">
                            <li class="slide" th:each="joinedBean, stat : ${imageAnnotations}" th:style_x="${stat.first} ? 'transform: translateX(0)' : ''">
                                <div class="annotation-details">
                                    <section class="light">
                                        <h5 th:text="#{worker.username}">Worker username</h5>
                                        <h5 th:text="#{worker.exp}">Worker experience</h5>
                                        <br>
                                        <h5 th:text="#{date}">Date</h5>
                                        <h5 th:text="#{valid}">Valid</h5>
                                        <h5 th:text="#{trust}">Trust</h5>
                                    </section>
                                    <section>
                                        <h5 th:text="${joinedBean.getBean2().username}">Worker username</h5>
                                        <h5 th:text="${joinedBean.getBean3().expLvl}">Worker experience</h5>
                                        <br>
                                        <h5 th:text="${#dates.format(joinedBean.getBean1().date, 'dd-MM-yyyy')}">Date</h5>
                                        <h5 th:text="${#messages.msg('valid.'+joinedBean.getBean1().getValid())}">Valid</h5>
                                        <h5 th:text="${#messages.msg('trust.'+joinedBean.getBean1().trust)}">Trust</h5>
                                    </section>
                                </div>
                                <div class="annotation-notes">
                                    <textarea readonly th:id="'notes-'+${joinedBean.getBean1().id}" th:text="${joinedBean.getBean1().notes}"></textarea>
                                    <label th:for="'notes-'+${joinedBean.getBean1().id}" th:text="#{notes}">Notes</label>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

        </div>
    </div>

    <div id="change-status-confirm" class="popup">
        <div class="pbody">
            <div class="pnav">
                <button class="popup-close-btn"></button>
            </div>
            <div class="pcontent">
                <span class="body-1">Questa azione &egrave; irreversibile, vuoi continuare?</span>
            </div>
            <div class="pfooter">
                <button class="cancel-btn" value="cancel">Cancel</button>
                <button class="ok-btn" value="ok">OK</button>
            </div>
        </div>
    </div>

</body>
</html>