<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Statistics</title>


    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css" th:href="@{/assets/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../assets/js/main.js" type="module" th:src="@{/assets/js/main.js}"></script>

</head>
<body>
    <nav class="navbar" th:replace="fragments/navbar :: navbar"></nav>

    <div class="container">

        <ul id="stat-list">
            <li>
                <span class="value" th:text="${imagesNumber}"></span>
                <span class="label">Images</span>
            </li>
            <li>
                <span class="value" th:text="${annotationsNumber}"></span>
                <span class="label">Annotations</span>
            </li>
            <li>
                <span class="value" th:text="${avgAnnotations}"></span>
                <span class="label">avg. annotations per image</span>
            </li>
            <li>
                <span class="value" th:text="${conflictsNumber}"></span>
                <span class="label">conflicts</span>
            </li>
        </ul>

    </div>

</body>
</html>