<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title}">Create new user</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css" th:href="@{/assets/css/main.css}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="module" src="../../assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
    <script src="../../assets/js/create_user.js" type="module" th:src="@{/assets/js/create_user.js}"></script>
</head>
<body>

    <div class="container desktop-fixed">
        <div id="registration-form-container">
            <form id="registration-form" action="/create-user">
                <div id="registration-form-header">
                    <h4 th:text="#{title}">Create a new user</h4>
                </div>
                <div class="form-error">
                    <span th:text="form-error">An error occurred during the creation of the user</span>
                </div>
                <section class="form-row">
                    <div class="input-container">
                        <input id="username-input" type="text" placeholder=" " name="username" data-validation="/api/v1/validate-data" minlength="4" maxlength="20" required>
                        <label class="placeholder" for="username-input" th:text="#{username}">Username</label>
                        <label class="form-error-message" for="username-input" th:text="#{error.username-invalid}">Invalid username
                            <button class="popover form-error-helper" th:text="error-helper.username">
                                <div class="popover-content">The username must be between 4 and 20 characters long</div>
                            </button>
                        </label>
                        <label class="form-error-message-online" for="username-input" th:text="#{error.username-unavailable}">Username not available</label>
                    </div>

                    <div class="input-container">
                        <input id="email-input" type="email" placeholder=" " name="email" data-validation="/api/v1/validate-data" required>
                        <label class="placeholder" for="email-input">Email</label>
                        <label class="form-error-message" for="email-input" th:text="#{error.email-invalid}">Invalid email</label>
                        <label class="form-error-message-online" for="email-input" th:text="#{error.email-unavailable}">Email not available</label>
                    </div>
                </section>

                <section class="form-row">
                    <div class="input-container">
                        <input id="password-input" type="password" placeholder=" " name="password" minlength="6" data-bind_validation="password-confirmation-input" required>
                        <label class="placeholder" for="password-input">Password</label>
                        <label class="form-error-message" for="password-input" th:text="#{error.password-invalid}">Invalid password</label>
                        <span class="password-eye"></span>
                    </div>
                    <div class="input-container">
                        <input id="password-confirmation-input" type="password" placeholder=" " data-equals_to="password-input" required>
                        <label class="placeholder" for="password-confirmation-input" th:text="#{confirm}">Confirm the password</label>
                        <label class="form-error-message" for="password-confirmation-input" th:text="#{error.password-invalid}"></label>
                        <span class="password-eye"></span>
                    </div>
                </section>

                <div class="input-container">
                    <select id="role-input" name="role" required>
                        <option value="" th:text="#{select-role}" hidden disabled selected>Select a role</option>
                        <option value="WORKER" th:text="#{role.worker}">Worker</option>
                        <option value="MANAGER" th:text="#{role.manager}">Manager</option>
                    </select>
                    <label for="role-input" class="placeholder" th:text="#{role}">Role</label>
                    <label class="form-error-message" for="role-input" th:text="#{error.role-invalid}">Select a role</label>
                </div>

                <div id="worker-section" style="display: none">
                    <div class="input-container">
                        <select id="exp-lvl-input" name="exp-lvl" required>
                            <option value="" th:text="#{select-exp-lvl}" hidden disabled selected>Select an experience level</option>
                            <option value="GOOD" th:text="#{exp-lvl.good}">Good</option>
                            <option value="MEDIUM" th:text="#{exp-lvl.medium}">Medium</option>
                            <option value="LOW" th:text="#{exp-lvl.low}">Low</option>
                        </select>
                        <label for="exp-lvl-input" class="placeholder" th:text="#{exp-lvl}">Experience level</label>
                        <label class="form-error-message" for="exp-lvl-input" th:text="#{error.exp-lvl-invalid}">Select an experience level</label>
                    </div>

                    <div class="input-container large">
                        <div class="photo-selector">
                            <input id="photo-hidden" type="hidden" class="photo-input-hidden" name="photo-base64" required>
                            <input id="photo-input" type="file" accept="image/*" class="photo-input" data-novalidate="aa" data-bind_validation="photo-hidden">
                            <div class="clip-path-border"></div>
                            <label class="photo-input-label-compact" for="photo-input">
                                <img class="photo-overlay" src="../../assets/images/photo-camera.svg" th:src="@{/assets/images/photo-camera.svg}">
                                <img class="photo-preview">
                            </label>
                        </div>
                        <label class="form-error-message" th:text="#{error.photo-invalid}">Select a photo</label>
                    </div>

                </div>
                <input id="form-submit-btn" class="contained-button" type="submit" value="Create user" th:value="#{submit-btn}">
                <a id="login-link" href="./login.html" th:href="@{/login}" th:text="#{login}">Login</a>
            </form>
        </div>
    </div>
</body>
</html>