<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" th:href="@{/assets/css/main.css}">
</head>
<body>

    <header>

    </header>

    <div class="centered-content-container">
        <div class="form-container">
            <div class="form-header"></div>
            <form action="login" th:action="'login?redirect='+${redirect}" method="post">
                <div class="form-section">
                    <label for="username-input">Username:</label>
                    <input id="username-input" type="text" name="username">
                </div>
                <div class="form-section">
                    <label for="password-input">Password:</label>
                    <input id="password-input" type="password" name="password">
                </div>
                <input type="submit" value="Login">
                <a class="form-bottom-link" href="/create-user" th:href="@{/create-user}" th:text="#{create-new-user}">Create a new user</a>
            </form>
        </div>
    </div>

</body>
</html>