<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{login}">Login</title>

    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css" th:href="@{/assets/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="module" src="../../assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
</head>
<body>
    <div class="container desktop-fixed">
        <div id="login-form-container">
            <form id="login-form" action="/login">
                <div id="login-form-header">
                    <h4 th:text="#{login}">Login</h4>
                </div>
                <div class="form-error">
                    <span th:text="#{form-error}">Incorrect username or password</span>
                </div>
                <div class="input-container">
                    <input id="username-input" type="text" placeholder=" " name="username" required>
                    <label for="username-input" class="placeholder" th:text="#{username}">Username</label>
                    <label for="username-input" class="form-error-message" th:text="#{error.username}">Insert a username</label>
                </div>
                <div class="input-container">
                    <input id="password-input" type="password" placeholder=" " name="password" required>
                    <label for="password-input" class="placeholder">Password</label>
                    <label for="password-input" class="form-error-message" th:text="#{error.password}">Insert a password</label>
                    <span class="password-eye"></span>
                </div>
                <input type="submit" id="login-btn" value="Login" class="contained-button" th:value="#{login}">
                <a id="register-link" href="./create_user.html" th:href="@{/create_user}" th:text="#{create-new-user}">Create a new user</a>
            </form>
        </div>
    </div>
</body>
</html>