<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="../../assets/css/main_test.css" th:href="@{/assets/css/main_test.css}">

</head>
<body>

<h3>MANAGER HOME PAGE</h3>

<div class="container">
    <div class="campaign-list">

        <div class="manager-campaign-card">
            <header>
                <h4>Campaign name</h4>
            </header>
            <ul>
                <li><span class="subtitle-2">Client</span><br><span class="body-2">Regione Lombardia</span></li>
                <li><span class="subtitle-2">Status</span><br><span class="body-2">CREATED</span></li>
            </ul>
            <footer>
                <button>Edit</button>
                <button>Statistics</button>
                <button>Delete</button>
            </footer>
        </div>

        <div class="manager-campaign-card">
            <header>
                <h4>Campaign name</h4>
            </header>
        </div>

    </div>

</div>


</body>
</html>