<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="../../assets/css/main_test.css" th:href="@{/assets/css/main_test.css}">

</head>
<body>

<button class="floating">
    <img src="../../assets/images/plus-floating.svg" th:src="@{/assets/images/plus-floating.svg}">
</button>

<div class="container desktop-fixed">

    <h5 class="campaigns-title">Campaign list</h5>

    <div class="campaign-list-container">

        <!--<div class="list-title">
            <h5>Campaign List</h5>
        </div>-->

        <div class="campaign-list">

            <div class="manager-campaign-card">
                <header>
                    <h5>Campaign name 1</h5>
                </header>
                <ul>
                    <li><span class="subtitle-2">Client</span><br><span class="body-2">Regione Lombardia</span></li>
                    <li><span class="subtitle-2">Status</span><br><span class="body-2">CREATED</span></li>
                </ul>
                <footer>
                    <a class="button text-button">Edit</a>
                    <a class="button text-button">Statistics</a>
                    <a class="button text-button">Delete</a>
                </footer>
            </div>

            <div class="manager-campaign-card">
                <header>
                    <h5>Campaign name</h5>
                </header>
                <ul>
                    <li><span class="subtitle-2">Client</span><br><span class="body-2">Regione Lombardia</span></li>
                    <li><span class="subtitle-2">Status</span><br><span class="body-2">CREATED</span></li>
                </ul>
                <footer>
                    <a class="button text-button">Edit</a>
                    <a class="button text-button">Statistics</a>
                    <a class="button text-button">Delete</a>
                </footer>
            </div>

            <div class="manager-campaign-card">
                <header>
                    <h5>Campaign name</h5>
                </header>
                <ul>
                    <li><span class="subtitle-2">Client</span><br><span class="body-2">Regione Lombardia</span></li>
                    <li><span class="subtitle-2">Status</span><br><span class="body-2">CREATED</span></li>
                </ul>
                <footer>
                    <a class="button text-button">Edit</a>
                    <a class="button text-button">Statistics</a>
                    <a class="button text-button">Delete</a>
                </footer>
            </div>

            <div class="manager-campaign-card">
                <header>
                    <h5>Campaign name</h5>
                </header>
                <ul>
                    <li><span class="subtitle-2">Client</span><br><span class="body-2">Regione Lombardia</span></li>
                    <li><span class="subtitle-2">Status</span><br><span class="body-2">CREATED</span></li>
                </ul>
                <footer>
                    <a class="button text-button">Edit</a>
                    <a class="button text-button">Statistics</a>
                    <a class="button text-button">Delete</a>
                </footer>
            </div>

            <div class="manager-campaign-card">
                <header>
                    <h5>Campaign name</h5>
                </header>
                <ul>
                    <li><span class="subtitle-2">Client</span><br><span class="body-2">Regione Lombardia</span></li>
                    <li><span class="subtitle-2">Status</span><br><span class="body-2">CREATED</span></li>
                </ul>
                <footer>
                    <a class="button text-button">Edit</a>
                    <a class="button text-button">Statistics</a>
                    <a class="button text-button">Delete</a>
                </footer>
            </div>

            <div class="manager-campaign-card">
                <header>
                    <h5>Campaign name</h5>
                </header>
                <ul>
                    <li><span class="subtitle-2">Client</span><br><span class="body-2">Regione Lombardia</span></li>
                    <li><span class="subtitle-2">Status</span><br><span class="body-2">CREATED</span></li>
                </ul>
                <footer>
                    <a class="button text-button">Edit</a>
                    <a class="button text-button">Statistics</a>
                    <a class="button text-button">Delete</a>
                </footer>
            </div>

            <div class="manager-campaign-card">
                <header>
                    <h5>Campaign name</h5>
                </header>
                <ul>
                    <li><span class="subtitle-2">Client</span><br><span class="body-2">Regione Lombardia</span></li>
                    <li><span class="subtitle-2">Status</span><br><span class="body-2">CREATED</span></li>
                </ul>
                <footer>
                    <a class="button text-button">Edit</a>
                    <a class="button text-button">Statistics</a>
                    <a class="button text-button">Delete</a>
                </footer>
            </div>

        </div>
    </div>

</div>


</body>
</html>