<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css" th:href="@{/assets/css/main.css}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../assets/js/main.js" type="module" th:src="@{/assets/js/main.js}"></script>

</head>
<body>

<nav class="navbar" th:replace="fragments/navbar :: navbar">
    <img class="profile-picture" src="../../assets/images/account_circle-24px.svg">
    <div class="user-menu">
        <ul>
            <li class="menu-item">
                <div class="user-data">
                    <div class="user-image"><img src="../../assets/images/account_circle-24px.svg"></div>
                    <h6>username</h6>
                </div>
            </li>
            <li class="menu-item">
                <a href="./settings.html">
                    <img src="../../assets/images/settings-24px.svg" >
                    <span class="subtitle-1" >Settings</span>
                </a>
            </li>
            <li class="menu-item">
                <a>
                    <img src="../../assets/images/power_settings_new-24px.svg">
                    <span class="subtitle-1">Logout</span>
                </a>
            </li>
        </ul>
    </div>

</nav>

<div class="container desktop-fixed">

    <h4 id="new-campaign-title" th:text="#{new-campaign-form-title}">Create new campaign</h4>
    <div id="add-campaign-btn" class="floating">
        <img class="floating-btn-img" src="../../assets/images/add-24px.svg" th:src="@{/assets/images/add-24px.svg}">
        <div class="floating-content">
            <header class="top-bar">
                <button id="close-new-campaign" class="left-btn floating-close" data-floating_id="add-campaign-btn">
                    <img src="../../assets/images/arrow_back-24px.svg" th:src="@{/assets/images/arrow_back-24px.svg}">
                </button>
                <h6 th:text="#{new-campaign-form-title}">Create new campaign</h6>
            </header>
            <div class="form-container">
                <form id="new-campaign-form" action="/create_campaign">
                    <div class="form-error">
                        <span th:text="#{form-error}">An error occurred.</span>
                    </div>
                    <div class="input-container">
                        <input id="campaign-name-input" type="text" placeholder=" " name="campaign-name" data-validation="/api/v1/validate_data" required>
                        <label for="campaign-name-input" class="placeholder" th:text="#{campaign-name}">Campaign name</label>
                        <label for="campaign-name-input" class="form-error-message" th:text="#{error.missing-name}">Insert a campaign name</label>
                    </div>
                    <div class="input-container">
                        <input id="campaign-client-input" type="text" placeholder=" " name="campaign-client" required>
                        <label for="campaign-client-input" class="placeholder" th:text="#{client}">Client</label>
                        <label for="campaign-client-input" class="form-error-message" th:text="#{error.missing-client}">Insert a client</label>
                    </div>
                    <input id="new-campaign-form-btn" class="contained-button" type="submit" value="Create" th:value="#{create}">
                </form>
            </div>
        </div>
    </div>

    <h4 id="manager-campaigns-title" th:text="#{campaign-list-title}">Campaign list</h4>

    <div class="campaign-list-container">

        <div class="campaign-list" th:remove="all-but-first" th:each="campaign : ${campaigns}">

            <div class="manager-campaign-card">
                <header>
                    <h5 th:text="${campaign.name}">Campaign name 1</h5>
                </header>
                <ul>
                    <li><span class="subtitle-2" th:text="#{client}">Client</span><br><span class="body-2" th:text="${campaign.client}">Regione Lombardia</span></li>
                    <li><span class="subtitle-2" th:text="#{status}">Status</span><br><div class="status-container"><img src="../../assets/images/lens-24px-green.svg"><span class="body-2" th:text="${#messages.msg('status.'+campaign.status)}">CREATED</span></div></li>
                </ul>
                <footer>
                    <a class="button text-button" th:href="@{/campaign/details(id=${campaign.id})}" th:text="#{edit}">Edit</a>
                    <a class="button text-button" th:text="#{statistics}">Statistics</a>
                    <a class="button text-button" th:text="#{delete}">Delete</a>
                </footer>
            </div>

            <div class="manager-campaign-card">
                <header>
                    <h5>Campaign name</h5>
                </header>
                <ul>
                    <li><span class="subtitle-2">Client</span><br><span class="body-2">Regione Lombardia</span></li>
                    <li><span class="subtitle-2">Status</span><br><span class="body-2">CREATED</span></li>
                </ul>
                <footer>
                    <a class="button text-button">Edit</a>
                    <a class="button text-button">Statistics</a>
                    <a class="button text-button">Delete</a>
                </footer>
            </div>

            <div class="manager-campaign-card">
                <header>
                    <h5>Campaign name</h5>
                </header>
                <ul>
                    <li><span class="subtitle-2">Client</span><br><span class="body-2">Regione Lombardia</span></li>
                    <li><span class="subtitle-2">Status</span><br><span class="body-2">CREATED</span></li>
                </ul>
                <footer>
                    <a class="button text-button">Edit</a>
                    <a class="button text-button">Statistics</a>
                    <a class="button text-button">Delete</a>
                </footer>
            </div>

        </div>
    </div>

</div>

<!---->


</body>
</html>