.annotation-popup{

  @include desktop{

  }

  .pcontent{
    display: flex;
    flex-direction: column;
    width: min-content;

    & > div{
      height: 100%;
      overflow: auto;
    }
  }

  .image-container{
    position: relative;
    display: flex;
    padding: 24px;
    height: 300px;
    overflow: hidden;

    .image{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 400px;
      min-width: 400px;

      img{
        width: unset;
        max-height: 100%;
      }
    }
  }

  .annotation-form{
    width: 100%;
  }

  .image-details{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 36px;
    margin-left: 36px;

    section{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &.light{
        color: #666666;
      }
    }
  }

  /*.annotation-notes{
    width: 100%;
    resize: none;
    height: 250px;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    overflow: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding: 8px;
  }*/
}