/* Error: Undefined mixin.
 *    ,
 * 9  | /   @include desktop{
 * 10 | |     grid-column: 3/ span 8;
 * 11 | |     grid-row: 1/ span end;
 * 12 | |     padding: 16px;
 * 13 | \   }
 *    '
 *   create-user.scss 9:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 9  \2502  \250c    @include desktop{\a 10 \2502  \2502      grid-column: 3/ span 8;\a 11 \2502  \2502      grid-row: 1/ span end;\a 12 \2502  \2502      padding: 16px;\a 13 \2502  \2514    }\a    \2575 \a   create-user.scss 9:3  root stylesheet";
}
