@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#login-form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/span 4;
}
@media (min-width: 840px) {
  #login-form-container {
    grid-column: 3/span 8;
    padding: 16px;
  }
}
#login-form-container #register-link {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  font-size: 12px;
}

#login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 16px 8px 40px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}
#login-form #login-btn {
  align-self: center;
}
#login-form #login-form-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  padding-bottom: 24px;
}

#image-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  grid-column: 1/span 4;
}
@media (min-width: 840px) {
  #image-form {
    display: block;
    grid-column: 4/span 2;
  }
}
#image-form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 176px;
}
@media (min-width: 840px) {
  #image-form > div {
    float: right;
  }
}
#image-form > div > input[type=file] {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  visibility: hidden;
}
#image-form > div > img {
  height: 176px;
  clip-path: circle(85px at center);
}
#image-form > div > a {
  margin-top: 8px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#image-form > div > a:hover {
  text-decoration: underline;
}
#image-form > div > div {
  display: flex;
  width: 100%;
  margin-top: 8px;
  justify-content: space-evenly;
}

#account-info-form {
  grid-column: 1/span 4;
}
@media (min-width: 840px) {
  #account-info-form {
    grid-column: 6/span 4;
  }
}
#account-info-form #form-buttons {
  width: 100%;
  height: 82px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#account-info-form #form-buttons > button {
  margin-right: 16px;
}

#account-info {
  width: 100%;
  grid-column: 1/span 4;
}
@media (min-width: 840px) {
  #account-info {
    grid-column: 6/span 4;
  }
}
#account-info > tbody > tr {
  display: flex;
  align-items: center;
  width: 100%;
  height: 82px;
}
#account-info > tbody > tr > td {
  float: left;
}
#account-info > tbody > tr > td > img {
  display: inherit;
  padding-right: 32px;
}
#account-info > tbody > tr > td > button > img {
  padding-right: 8px;
}

.container {
  position: relative;
  display: grid;
  width: 100%;
  overflow-x: hidden;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  padding: 72px 16px 16px;
}
@media (min-width: 840px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 840px) {
  .desktop-fixed {
    height: 100%;
    min-height: 100%;
    padding-top: 90px;
    padding-bottom: 48px;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 24px;
  }
}

.navbar {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #455a64;
  z-index: 1;
}
.navbar .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 100px;
  padding: 4px;
}
.navbar .nav-item a, .navbar .nav-item a:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.navbar .nav-item:hover {
  background-color: #5a7582;
}
.navbar .profile-picture {
  width: 42px;
  height: 42px;
  cursor: pointer;
  margin-left: 16px;
  margin-right: 16px;
  background-color: #ffffff;
  clip-path: circle(21px at center);
}
.navbar .user-menu {
  position: absolute;
  display: none;
  top: 56px;
  margin-top: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 300px;
  background-color: #455a64;
  border-radius: 4px;
  user-select: none;
}
.navbar .user-menu.visible {
  display: block;
  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}
.navbar .user-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar .user-menu ul .menu-item {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 48px;
  border-bottom: 1px solid #718792;
}
.navbar .user-menu ul .menu-item a {
  display: inline-flex;
  align-items: center;
  height: 48px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  cursor: pointer;
}
.navbar .user-menu ul .menu-item a:hover {
  background-color: #728f9d;
}
.navbar .user-menu ul .menu-item a:active {
  background-color: #648391;
}
.navbar .user-menu ul .menu-item a img {
  width: 24px;
  height: 24px;
}
.navbar .user-menu ul .menu-item a span {
  padding-left: 16px;
  color: #ffffff;
}
.navbar .user-menu .user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
}
.navbar .user-menu .user-data .user-image {
  position: relative;
  height: 72px;
  width: 72px;
  background: #ffffff;
  clip-path: circle(36px at center);
}
.navbar .user-menu .user-data .user-image img {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 68px;
  width: 68px;
  clip-path: circle(34px at center);
}
.navbar .user-menu .user-data h6 {
  padding-top: 8px;
  color: #ffffff;
}

.empty-list-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #0d47a1;
}

a:visited {
  color: #0d47a1;
}

h1 {
  display: inline-block;
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -1.5px;
  margin: 0;
}

h2 {
  display: inline-block;
  font-size: 59px;
  font-weight: 300;
  letter-spacing: -0.5px;
  margin: 0;
}

h3 {
  display: inline-block;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
}

h4 {
  display: inline-block;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin: 0;
}

h5 {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
}

h6 {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.15px;
  margin: 0;
}

.subtitle-1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.body-1 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

button, input[type=submit], input[type=button], .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  height: 36px;
  min-width: 64px;
  border-radius: 4px;
  outline: none;
  user-select: none;
  cursor: pointer;
}

.text-button {
  background-color: transparent;
  border: none;
  padding: 6px 8px;
  color: #0d47a1;
}
.text-button:hover {
  background-color: rgba(13, 71, 161, 0.04);
}
.text-button:active {
  background-color: rgba(13, 71, 161, 0.08);
}
.text-button:disabled {
  color: #666666 !important;
  cursor: not-allowed !important;
}

.outline-button {
  background-color: transparent;
  border: 1px solid #0d47a1;
  border-radius: 4px;
  padding: 6px 8px;
  color: #0d47a1;
}
.outline-button:hover {
  background-color: rgba(13, 71, 161, 0.04);
}
.outline-button:active {
  background-color: rgba(13, 71, 161, 0.08);
}
.outline-button:disabled {
  border-color: #666666 !important;
  color: #666666 !important;
  cursor: not-allowed !important;
}

.contained-button {
  background-color: #0d47a1;
  color: #ffffff;
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.contained-button:hover {
  background-color: #115cd0;
}
.contained-button:active {
  background-color: #0f53bd;
}
.contained-button:disabled {
  background-color: #929292 !important;
  border-color: #666666 !important;
  cursor: not-allowed !important;
}

.icon-button {
  min-width: unset;
}
.icon-button > img {
  width: 24px;
  height: 24px;
}
.icon-button:disabled {
  filter: grayscale(100%) contrast(50%);
  cursor: not-allowed;
}

fieldset {
  display: contents;
}
fieldset:disabled label.outline-button {
  border-color: #666666 !important;
  color: #666666 !important;
  cursor: not-allowed !important;
}
fieldset:disabled label.contained-button {
  background-color: #929292 !important;
  border-color: #666666 !important;
  cursor: not-allowed !important;
}
fieldset:disabled label.text-button {
  color: #666666 !important;
  cursor: not-allowed !important;
}

.table-container {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}
.table-container table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}
.table-container table tbody tr {
  border-top: 1px solid #c4c4c4;
}
.table-container table tbody tr:hover {
  background-color: rgba(84, 114, 211, 0.4);
}
.table-container table th {
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
}
.table-container table td {
  height: 52px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  width: fit-content;
}
.table-container table td span {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.table-container table td img {
  margin-right: 8px;
}

.floating {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border: none;
  min-width: 56px;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  clip-path: circle(28px at calc(100% - 44px) calc(100% - 44px));
  background-color: #0d47a1;
  will-change: height, width;
  transition: all 0.4s;
}
.floating:hover {
  background-color: #0f53bd;
}
.floating:active {
  background-color: #115cd0;
}
.floating .floating-content {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.floating .floating-btn-img {
  position: absolute;
  bottom: 32px;
  right: 32px;
  width: 24px;
  height: 24px;
  opacity: 1;
  transition: opacity 0.2s;
  transition-delay: 0.4s;
}
.floating.expanded {
  clip-path: circle(150% at calc(100% - 44px) calc(100% - 44px));
}
.floating.expanded .floating-btn-img {
  opacity: 0;
  transition: none;
}
@keyframes floating-content-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.floating.expanded .floating-content {
  animation-name: floating-content-fade-in;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  opacity: 1;
  display: block;
}
@media (min-width: 840px) {
  .floating.expanded .floating-content {
    animation: none;
    display: block;
    opacity: 1;
  }
}
@media (min-width: 840px) {
  .floating {
    display: none;
  }
  .floating .floating-btn-img {
    display: none;
  }
  .floating .floating-content {
    display: block;
    opacity: 1;
  }
}

.top-bar {
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
  height: 56px;
  background-color: #0d47a1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}
@media (min-width: 840px) {
  .top-bar {
    display: none;
  }
}
.top-bar .left-btn {
  padding: 0;
  border: none;
  background: transparent;
  min-width: 24px;
  width: 24px;
  height: 24px;
}
.top-bar h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #ffffff;
  padding-left: 32px;
}

.separator {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #666666;
  margin-top: 8px;
  margin-bottom: 8px;
}

.form-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-top: 8px;
}

.form-error {
  display: none;
  width: 100%;
  align-items: center;
  min-height: 65px;
  background-color: #ffcdcd;
  border: 1px solid #9e0000;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 24px;
}
.form-error span {
  color: #9e0000;
  font-size: 14px;
}
.form-error.visible {
  display: flex;
}

.input-container {
  position: relative;
  min-height: 56px;
  margin-top: 8px;
  margin-bottom: 22px;
  min-width: 100px;
}
.input-container.large {
  height: unset;
  min-height: 56px;
}
.input-container .checkbox-input {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 16px;
}
.input-container .checkbox-input input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  width: 0.1px;
  height: 0.1px;
}
.input-container .checkbox-input input[type=checkbox] ~ .checkbox {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #808080;
  transition: all 0.2s;
}
.input-container .checkbox-input input[type=checkbox]:checked ~ .checkbox {
  border-color: #0d47a1;
  background-color: #0d47a1;
  background-image: url("../images/done-24px.svg");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.input-container textarea {
  resize: none;
  width: 100%;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 8px;
  outline: none;
}
.input-container textarea:not(.error):focus {
  border: 2px solid #0d47a1;
}
.input-container textarea ~ .placeholder {
  color: #0d47a1;
  background-color: white;
  padding-right: 6px;
  padding-left: 6px;
  transform: scale(0.75);
  bottom: unset;
  top: -11px;
  transform-origin: bottom left;
}
.input-container textarea:disabled, .input-container textarea:disabled ~ .placeholder {
  color: #aaaaaa;
}
.input-container input, .input-container select {
  width: 100%;
  height: 56px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  outline: none;
  padding-left: 14px;
  padding-right: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.input-container input:not(.error):focus, .input-container select:not(.error):focus {
  border: 2px solid #0d47a1;
}
.input-container input:focus ~ .placeholder, .input-container input:not(:placeholder-shown) ~ .placeholder, .input-container input:-webkit-autofill:focus ~ .placeholder, .input-container select:focus ~ .placeholder, .input-container select:not(:placeholder-shown) ~ .placeholder, .input-container select:-webkit-autofill:focus ~ .placeholder {
  color: #0d47a1;
  background-color: white;
  padding-right: 6px;
  padding-left: 6px;
  transform: scale(0.75) translateY(-40px);
  transform-origin: bottom left;
}
.input-container input:disabled, .input-container input:disabled ~ .placeholder, .input-container select:disabled, .input-container select:disabled ~ .placeholder {
  color: #aaaaaa;
}
.input-container input:disabled ~ .password-eye, .input-container input:disabled ~ .input-lock, .input-container select:disabled ~ .password-eye, .input-container select:disabled ~ .input-lock {
  filter: grayscale(100%);
}
.input-container option:disabled {
  color: rgba(0, 0, 0, 0.6);
}
.input-container.error:not([disabled]) input, .input-container.error:not([disabled]) select, .input-container.error:not([disabled]) textarea {
  border: 2px solid #ff0000;
}
.input-container.error:not([disabled]) input:focus ~ .placeholder, .input-container.error:not([disabled]) input:not(:placeholder-shown) ~ .placeholder, .input-container.error:not([disabled]) select:focus ~ .placeholder, .input-container.error:not([disabled]) select:not(:placeholder-shown) ~ .placeholder, .input-container.error:not([disabled]) textarea:focus ~ .placeholder, .input-container.error:not([disabled]) textarea:not(:placeholder-shown) ~ .placeholder {
  color: #ff0000;
}
.input-container.error:not([disabled]) select {
  color: #ff0000;
}
.input-container.error:not([disabled]) .placeholder {
  color: #ff0000;
  user-select: none;
}
.input-container.error:not([disabled]) .photo-selector .clip-path-border {
  background-color: #ff0000;
}
.input-container.local-error:not([disabled]) .form-error-message {
  display: flex;
}
.input-container.online-error:not([disabled]) .form-error-message-online {
  display: flex;
}
.input-container .placeholder {
  position: absolute;
  left: 14px;
  bottom: 17px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-container .form-error-message, .input-container .form-error-message-online {
  display: none;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ff0000;
  position: absolute;
  top: 100%;
  left: 14px;
}
.input-container .form-error-message .form-error-helper, .input-container .form-error-message-online .form-error-helper {
  width: 20px;
  height: 20px;
  min-width: 0;
  background-image: url("../images/help_outline-24px.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 4px;
}
.input-container .input-lock, .input-container .password-eye {
  position: absolute;
  top: calc(50% - 12px);
  right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
.input-container .password-eye {
  background-image: url("../../assets/images/visibility-24px.svg");
}
.input-container .password-eye.toggled {
  background-image: url("../../assets/images/visibility_off-24px.svg");
}
.input-container .input-lock {
  background-image: url("../../assets/images/lock-closed.svg");
}
.input-container .input-lock.toggled {
  background-image: url("../../assets/images/lock-open.svg");
}

.form-row {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: row;
}
@media (min-width: 840px) {
  .form-row {
    grid-template-columns: none;
    grid-template-rows: auto;
    grid-auto-flow: column;
    column-gap: 8px;
  }
}

.photo-selector {
  position: relative;
  height: 120px;
}
.photo-selector .photo-input {
  position: absolute;
  border: none;
  top: 50%;
  left: 50%;
  width: 0.1px;
  height: 0.1px;
}
.photo-selector .clip-path-border {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: circle(58px at center);
}
.photo-selector .photo-input-label-compact {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  clip-path: circle(56px at center);
}
.photo-selector .photo-input-label-compact .photo-overlay {
  position: absolute;
  opacity: 0.3;
  height: 40%;
}
.photo-selector .photo-input-label-compact .photo-preview {
  height: 100%;
}
.photo-selector .photo-input-label-compact:hover .photo-overlay {
  opacity: 0.5;
}

.popover {
  position: relative;
}
.popover:hover .popover-content {
  display: block;
}
.popover .popover-content {
  display: none;
  position: absolute;
  padding: 8px;
  top: calc(100% + 10px);
  width: max-content;
  min-height: 36px;
  max-width: 90vw;
  background-color: #ffffff;
  border: 1px solid #666666;
  border-radius: 4px;
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.popover .popover-content:after, .popover .popover-content:before {
  content: "";
  position: absolute;
  z-index: -1;
  right: calc(50% - 10px);
  border-style: solid;
  border-width: 0 10px 10px 10px;
}
.popover .popover-content:after {
  top: -9px;
  border-color: transparent transparent #ffffff transparent;
}
.popover .popover-content:before {
  top: -10px;
  border-color: transparent transparent #505050 transparent;
}

.input-file-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 0;
  margin: 0;
}
.input-file-button input {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  top: 50%;
  left: 50%;
  width: 0.1px;
  height: 0.1px;
  user-select: none;
  outline: none;
}
.input-file-button input:active, .input-file-button input:focus {
  outline: none;
}

.map {
  z-index: 0;
}

.window.hidden {
  transform: scale(0);
  transition: all 0.2s;
}

.window {
  position: fixed;
  z-index: 20;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  resize: none;
  transform: scale(1);
  display: grid;
  grid-template-rows: 56px auto;
  grid-auto-columns: 100%;
  background-color: #ffffff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s;
}
@media (min-width: 840px) {
  .window {
    top: calc(50% - 300px);
    left: calc(50% - 555px);
    width: 1110px;
    height: 600px;
    min-width: 1110px;
    min-height: 600px;
    resize: both;
  }
}
.window.draggable {
  opacity: 0.4;
}
.window .wcontent {
  width: 100%;
}
.window .wnav {
  grid-row: 1;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0d47a1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: grab;
}
@media (min-width: 840px) {
  .window .wnav::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 56px;
    height: 56px;
    background-image: url("../images/drag_indicator-24px.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.window .window-close-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../images/close-white-24px.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  min-width: 0;
}

@keyframes popup-open {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.popup {
  position: fixed;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: rgba(61, 61, 61, 0.6);
}
.popup.show {
  display: flex;
}
.popup.show .pbody {
  animation-name: popup-open;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}
.popup .pbody {
  display: grid;
  grid-template-rows: minmax(0, 56px) minmax(auto, calc(100% - 56px - 56px)) minmax(0, 56px);
  width: 95%;
  max-width: 95%;
  height: min-content;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 56px;
  max-height: calc(100% - 56px - 56px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}
@media (min-width: 840px) {
  .popup .pbody {
    width: min-content;
  }
}
.popup .pbody .pnav {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 56px;
  padding-left: 8px;
  background-color: #0d47a1;
}
.popup .pbody .pnav .popup-close-btn {
  background-color: transparent;
  border: none;
  min-width: 0;
  width: 24px;
  height: 24px;
  background-image: url("../images/close-white-24px.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  margin-right: 8px;
}
.popup .pbody .pnav .popup-title {
  color: #ffffff;
}
.popup .pbody .pcontent {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 840px) {
  .popup .pbody .pcontent {
    width: min-content;
  }
}
.popup .pbody .pfooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  grid-row: 3;
  width: 100%;
  height: 56px;
}
.popup .pbody .pfooter button {
  margin-left: 4px;
  margin-right: 4px;
}
.popup .pbody .pfooter .ok-btn {
  background-color: #0d47a1;
  color: #ffffff;
}
.popup .pbody .pfooter .ok-btn:hover {
  background-color: #115cd0;
}
.popup .pbody .pfooter .cancel-btn {
  transition: all 0.2s;
}
.popup .pbody .pfooter .cancel-btn:hover {
  background-color: #e00f0f;
  color: #ffffff;
}

.status-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.status-container img {
  width: 18px;
}
.status-container span {
  padding-left: 4px;
}

.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 5px solid #0d47a1;
  border-top: none;
  border-radius: 4px;
  transition: 2s;
  will-change: height;
}
.list-container .empty-message {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  text-align: center;
}
.list-container.closed {
  height: 56px;
}
.list-container .list-header {
  position: relative;
  grid-row: 1;
  width: 100%;
  height: 56px;
  min-height: 56px;
  padding: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  background-color: #0d47a1;
}
.list-container .list-header .list-close-btn {
  float: right;
  margin-left: auto;
  top: 8px;
  right: 8px;
  min-width: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  background-image: url("../images/expand_less-24px.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  transition: transform 0.2s;
}
.list-container .list-header .list-close-btn.toggled {
  transform: rotate(180deg);
}
.list-container .list-header .list-filter, .list-container .list-header .list-order {
  float: right;
  background: transparent;
  border: none;
  height: 100%;
  color: #ffffff;
  font-size: 16px;
}
.list-container .list {
  grid-row: 2;
  width: 100%;
  height: 100%;
  padding: 16px;
  margin: 0;
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-row-gap: 16px;
}
.list-container .list .list-item {
  will-change: width;
  width: 100%;
}
.list-container .list .list-item:last-child {
  margin-bottom: 16px;
}
.list-container .list .list-item.card {
  height: min-content;
  display: grid;
  grid-template-rows: minmax(0, 56px) auto minmax(0, 56px);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  transition: box-shadow 0.2s;
}
.list-container .list .list-item.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.list-container .list .list-item.card header {
  position: relative;
  grid-row: 1;
  width: 100%;
  height: 56px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #5472d3;
  color: #ffffff;
  overflow: hidden;
}
.list-container .list .list-item.card header * {
  white-space: nowrap;
}
.list-container .list .list-item.card footer {
  padding: 8px;
  grid-row: 3;
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}
.list-container .list .list-item.card .card-body {
  padding: 16px 8px 8px 8px;
}

.campaign-card-content ul {
  grid-column: 1/span 6;
  grid-row: 2;
  display: grid;
  grid-template-columns: 60% auto;
  column-gap: 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@keyframes marquee-animation {
  0% {
    text-indent: 100%;
  }
  100% {
    text-indent: -100%;
  }
}
.marquee {
  position: relative;
  white-space: nowrap;
  animation: marquee-animation 6s infinite linear;
}

.image-zoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-zoom > img {
  width: 100%;
}

.error-container {
  grid-column: 1/span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 840px) {
  .error-container {
    grid-column: 2/span 10;
  }
}
.error-container .error-image {
  position: relative;
  width: 90%;
}
@media (min-width: 840px) {
  .error-container .error-image {
    width: 50%;
    max-width: 480px;
  }
}
.error-container .error-image .error-code {
  font-family: "M PLUS Rounded 1c", sans-serif;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  color: #302e2e;
  top: calc(54% - 5rem);
  font-size: 20vw;
  line-height: 10rem;
  user-select: none;
}
@media (min-width: 840px) {
  .error-container .error-image .error-code {
    font-size: 10vh;
  }
}
.error-container .error-message {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: center;
}
@media (min-width: 840px) {
  .error-container .error-message {
    font-size: 2rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

#registration-form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/span 4;
  padding-bottom: 16px;
}
@media (min-width: 840px) {
  #registration-form-container {
    grid-column: 3/span 8;
    grid-row: 1/span end;
    padding: 16px;
  }
}

#registration-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  padding: 16px 8px 40px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}
#registration-form #registration-form-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  padding-bottom: 24px;
}
#registration-form #form-submit-btn {
  align-self: center;
}
#registration-form #login-link {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  font-size: 12px;
}

#free-campaigns-container {
  grid-column: 1/span 4;
}
@media (min-width: 840px) {
  #free-campaigns-container {
    grid-column: 2/span 5;
    grid-row: 1/span 6;
  }
}

#sub-campaigns-container {
  grid-column: 1/span 4;
}
@media (min-width: 840px) {
  #sub-campaigns-container {
    grid-column: 7/span 5;
    grid-row: 1/span 6;
  }
}

#new-campaign-title {
  display: none;
  grid-column: 3/span 4;
  grid-row: 1;
  width: 100%;
  justify-self: center;
  align-self: end;
  padding-left: 16px;
}
@media (min-width: 840px) {
  #new-campaign-title {
    display: inline-block;
  }
}

@media (min-width: 840px) {
  #add-campaign-btn {
    border-radius: 0;
    display: block;
    position: relative;
    grid-column: 3/span 4;
    grid-row: 2/span 3;
    clip-path: none;
    z-index: 0;
  }
}

#new-campaign-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
}
#new-campaign-form .input-container {
  width: 100%;
}

#campaign-list {
  position: relative;
  grid-column: 1/span 4;
}
@media (min-width: 840px) {
  #campaign-list {
    grid-column: 7/span 4;
    grid-row: 1/span 12;
  }
}

.annotation-popup {
  /*.annotation-notes{
    width: 100%;
    resize: none;
    height: 250px;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    overflow: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding: 8px;
  }*/
}
.annotation-popup .pcontent {
  display: flex;
  flex-direction: column;
  width: min-content;
}
.annotation-popup .pcontent > div {
  height: 100%;
  overflow: auto;
}
.annotation-popup .image-container {
  position: relative;
  display: flex;
  padding: 24px;
  height: 300px;
  overflow: hidden;
}
.annotation-popup .image-container .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 400px;
  min-width: 400px;
}
.annotation-popup .image-container .image img {
  width: unset;
  max-height: 100%;
}
.annotation-popup .annotation-form {
  width: 100%;
}
.annotation-popup .image-details {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 36px;
  margin-left: 36px;
}
.annotation-popup .image-details section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.annotation-popup .image-details section.light {
  color: #666666;
}

#campaign-details {
  grid-column: 1/span 4;
  padding: 8px;
}
@media (min-width: 840px) {
  #campaign-details {
    grid-row: 1;
    grid-column: 1/span 3;
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 16px;
    max-height: 250px;
  }
}
#campaign-details form {
  display: grid;
  row-gap: 4px;
  grid-template-rows: 60px 24px 24px auto;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 16px;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
}
#campaign-details form h4 {
  grid-row: 1;
  grid-column: 1/span 2;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
#campaign-details form #campaign-client, #campaign-details form #campaign-status {
  grid-column: 2;
}
#campaign-details form .contained-button {
  grid-column: 1/span 2;
  align-self: end;
  height: 56px;
}
#campaign-details form .contained-button.green {
  background-color: #009245;
  border-color: #006837;
}
#campaign-details form .contained-button.red {
  background-color: #ec0000;
  border-color: #7f0000;
}

#image-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  grid-column: 1/span 4;
  padding: 8px;
}
@media (min-width: 840px) {
  #image-list-container {
    grid-row: 2/span 5;
    grid-column: 1/span 3;
    border: 1px solid #666666;
    padding: 16px;
    border-radius: 4px;
  }
}
#image-list-container #campaign-image-list {
  overflow-y: scroll;
}
#image-list-container #campaign-image-list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 840px) {
  #image-list-container #campaign-image-list ul {
    padding: 0 8px 0 0;
  }
}
#image-list-container #campaign-image-list ul li {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
  height: 162px;
  border: 1px solid #666666;
  border-radius: 4px;
  overflow: hidden;
}
#image-list-container #campaign-image-list ul li img {
  height: 100%;
}
#image-list-container #campaign-image-list ul li .image-buttons {
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  row-gap: 8px;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
}
#image-list-container #campaign-image-list ul li .image-buttons button {
  min-width: unset;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  background-origin: border-box;
  border: none;
}
#image-list-container #campaign-image-list ul li .image-buttons .delete-image-btn {
  background-image: url("../images/remove.svg");
}
#image-list-container #campaign-image-list ul li .image-buttons .map-target-btn {
  background-color: #006bff;
  background-size: 20px;
  border-radius: 50%;
  background-image: url("../images/location_on-24px.svg");
}
#image-list-container #campaign-image-list ul:last-child {
  margin-bottom: 16px;
}

#add-new-image-container {
  grid-column: 1/span 4;
  display: grid;
  grid-template-rows: 54px minmax(auto, 70%) auto;
  row-gap: 8px;
  padding: 8px;
  margin-top: 16px;
  overflow-y: auto;
}
@media (min-width: 840px) {
  #add-new-image-container {
    grid-row: 1/span 6;
    grid-column: 4/span 9;
    grid-template-rows: minmax(auto, 70%) 54px auto;
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 16px;
    margin-top: 0;
  }
}
#add-new-image-container.only-map {
  grid-template-rows: 100%;
}
#add-new-image-container h4 {
  grid-row: 1;
  margin-bottom: 8px;
}
@media (min-width: 840px) {
  #add-new-image-container h4 {
    grid-row: 2;
  }
}
#add-new-image-container #map-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
#add-new-image-container #map-container #map {
  width: 100%;
  height: 100%;
  min-height: 300px;
}
#add-new-image-container #add-new-image-form {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (min-width: 840px) {
  #add-new-image-container #add-new-image-form {
    max-height: 365px;
  }
}
#add-new-image-container #add-new-image-form form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 840px) {
  #add-new-image-container #add-new-image-form form {
    display: grid;
    grid-template-columns: 22% 45% auto;
    grid-template-rows: auto auto;
  }
}
#add-new-image-container #add-new-image-form form .form-row {
  grid-template-columns: auto;
}
@media (min-width: 840px) {
  #add-new-image-container #add-new-image-form form .form-row {
    grid-template-columns: 1fr 1fr;
  }
}
#add-new-image-container #add-new-image-form form .input-container .input-file-button .outline-button {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#add-new-image-container #add-new-image-form form input[type=submit] {
  grid-row: 3;
  grid-column: 3;
  justify-self: end;
  align-self: center;
}
@media (min-width: 840px) {
  #add-new-image-container #add-new-image-form form input[type=submit] {
    align-self: end;
  }
}
#add-new-image-container #add-new-image-form form section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
}
#add-new-image-container #add-new-image-form form #first-section {
  grid-row: 2;
  grid-column: 1;
}
#add-new-image-container #add-new-image-form form #second-section {
  grid-row: 2;
  grid-column: 2;
}
#add-new-image-container #add-new-image-form form .preview {
  position: relative;
  display: flex;
  grid-row: 2;
  grid-column: 3;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  margin-top: 8px;
  background-color: #f1f1f1;
  border: 2px solid #282828;
  border-radius: 4px;
  min-height: 224px;
  overflow: auto;
}
@media (min-width: 840px) {
  #add-new-image-container #add-new-image-form form .preview {
    margin-left: 32px;
  }
}
#add-new-image-container #add-new-image-form form .preview img {
  display: block;
  height: 100%;
  max-height: 224px;
}
#add-new-image-container #add-new-image-form form .preview h4 {
  display: none;
}
#add-new-image-container #add-new-image-form form .preview.empty h4 {
  display: inline-block;
}
#add-new-image-container #add-new-image-form form .preview.empty img {
  display: none;
}

.manager-images-window-content {
  display: grid;
  grid-template-rows: 40% 5% 55%;
  grid-template-columns: 40% auto;
  padding: 8px;
}
.manager-images-window-content .image {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  border: 2px solid #000000;
  border-radius: 4px;
  overflow: auto;
}
.manager-images-window-content .image img {
  max-height: 100%;
}
.manager-images-window-content .separator {
  grid-column: 1/span 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 40% auto;
  width: 100%;
  height: 100%;
  border-top: 1px solid #666666;
  margin: 0;
  background: transparent;
}
.manager-images-window-content .separator .nav-controller {
  grid-column: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  height: 100%;
  border: 1px solid #666666;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: 16px;
}
.manager-images-window-content .separator .nav-controller .left-arrow, .manager-images-window-content .separator .nav-controller .right-arrow {
  width: 24px;
  height: 24px;
  min-width: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.manager-images-window-content .separator .nav-controller .left-arrow {
  background-image: url("../images/navigate_before-24px.svg");
}
.manager-images-window-content .separator .nav-controller .right-arrow {
  background-image: url("../images/navigate_next-24px.svg");
}
.manager-images-window-content .annotations {
  position: relative;
  display: flex;
  flex-direction: row;
  grid-column: 1/span 2;
  grid-row: 3;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.manager-images-window-content .annotations li {
  position: absolute;
  display: grid;
  grid-template-columns: 40% auto;
  width: 100%;
  height: 100%;
}
.manager-images-window-content .annotation-notes {
  position: relative;
  grid-column: 2;
  grid-row: 1;
}
.manager-images-window-content .annotation-notes textarea {
  position: relative;
  margin: 16px;
  padding: 16px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  border: 2px solid #000000;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  resize: none;
}
.manager-images-window-content .annotation-notes textarea:focus {
  outline: none;
}
.manager-images-window-content .annotation-notes label {
  position: absolute;
  top: 0;
  left: 64px;
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  color: #8d8d8d;
}
.manager-images-window-content .image-details {
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: min-content auto min-content auto;
}
.manager-images-window-content .annotation-details {
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: min-content auto;
}
.manager-images-window-content .image-details, .manager-images-window-content .annotation-details {
  height: 100%;
  display: grid;
}
.manager-images-window-content .image-details section, .manager-images-window-content .annotation-details section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 32px 8px 16px;
}
.manager-images-window-content .image-details section h5, .manager-images-window-content .annotation-details section h5 {
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  margin-top: 8px;
  margin-bottom: 8px;
}
.manager-images-window-content .image-details section.light h5, .manager-images-window-content .annotation-details section.light h5 {
  color: #8d8d8d;
}

#stat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 56px;
}

#stat-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 840px) {
  #stat-list {
    width: 50%;
    height: 50%;
  }
}
#stat-list li:nth-child(1) {
  color: #0babff;
}
#stat-list li:nth-child(2) {
  color: #ee4035;
}
#stat-list li:nth-child(3) {
  color: #f37736;
}
#stat-list li:nth-child(4) {
  color: #7bc043;
}
#stat-list li {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
  transition: all 0.4s;
  filter: brightness(0);
}
#stat-list li:hover {
  filter: brightness(100%);
}
#stat-list .value, #stat-list .label {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#stat-list .value {
  font-weight: 400;
  font-size: 30vw;
  line-height: 28vw;
}
@media (min-width: 840px) {
  #stat-list .value {
    font-size: 12vh;
    line-height: 10vh;
  }
}
#stat-list .label {
  margin-left: 8px;
  font-weight: 700;
  font-size: 2vh;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

/*# sourceMappingURL=main.css.map */
