@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

$colors:(
        primary: #455a64,
        primary-light: #718792,
        primary-dark: #1c313a,
        secondary: #0d47a1,
        secondary-light: #5472d3,
        secondary-dark: #002171,
        text: #ffffff,
);

@function color($color){
  @return map_get($colors, $color)
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

h1{
  display: inline-block;
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -1.5px;
  margin: 0;
}
h2{
  display: inline-block;
  font-size: 59px;
  font-weight: 300;
  letter-spacing: -0.5px;
  margin: 0;
}
h3{
  display: inline-block;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
}
h4{
  display: inline-block;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin: 0;
}
h5{
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
}
h6{
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.15px;
  margin: 0;
}
.subtitle-1{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
}
.subtitle-2{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.body-1{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.body-2{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
button, input[type=submit], a.button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  height: 36px;
  min-width: 64px;
  border-radius: 4px;
  outline: none;
  user-select: none;
}
.text-button{
  background-color: transparent;
  border: none;
  padding: 6px 8px;
  color: color('secondary');

  &:hover{
    background-color: transparentize(color('secondary'), .96);
    cursor: pointer;
  }
  &:active{
    background-color: transparentize(color('secondary'), .92);
  }
}

.contained-button{
  background-color: color('secondary');
  color: color('text');
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

$desktop: 840px;

@mixin desktop{
  @media (min-width: #{$desktop}) {
    @content
  }
}


.floating{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  //border-radius: 50%;
  border: none;
  min-width: 56px;
  //width: 56px;
  //height: 56px;
  width: 100%;
  height: 100%;
  //bottom: 16px;
  //right: 16px;
  bottom: 0;
  right: 0;
  clip-path: circle(28px at calc(100% - 44px) calc(100% - 44px));

  background-color: color('secondary');
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0px rgba(0, 0, 0, 0.14), 0 1px 18px 0px rgba(0,0,0,.12);
  will-change: height, width;
  transition: all .4s;

  &:hover{
    background-color: lighten(color('secondary'), 6%);
  }

  &:active{
    background-color: lighten(color('secondary'), 10%);
  }

  .floating-content{
    display: none;
    width: 100%;
    height: 100%;
  }

  .floating-btn-img{
    position: absolute;
    bottom: 32px;
    right: 32px;
    width: 24px;
    height: 24px;
    opacity: 1;
    transition: opacity .2s;
    transition-delay: .4s;
  }

  &.expanded{
    //right: 0;
    //bottom: 0;
    //width: 100%;
    //height: 100%;
    //border-radius: 0;
    clip-path: circle(150% at calc(100% - 44px) calc(100% - 44px));

    .floating-btn-img{
      opacity: 0;
      transition: none;
    }

    .floating-content{
      display: block;
    }
  }

  @include desktop{
    display: none;

    .floating-btn-img{
      display: none;
    }

    .floating-content{
      display: block;
    }
  };

}

#add-campaign-btn{
  @include desktop{
    border-radius: 0;
    display: block;
    position: relative;
    //bottom: 0;
    //right: 0;
    //width: unset;
    //height: unset;
    grid-column: 3 / span 4;
    grid-row: 2 / span 7;
    clip-path: none;
    z-index: 0;
  }
}

.form-container{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-top: 8px;
}

.new-campaign-form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;

  .input-container{
    width: 100%;
  }
}

.top-bar{
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
  height: 56px;
  background-color: color('secondary');
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;

  @include desktop{
    display: none;
  }

  .left-btn{
    padding: 0;
    border: none;
    background: transparent;
    min-width: 24px;
    width: 24px;
    height: 24px;
  }

  h6{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: color('text');
    padding-left: 32px;
  }

}

.desktop-fixed{
  @include desktop{
    height: 100%;
    padding-bottom: 48px;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 24px;
  }
}

.container{
  position: relative;
  display: grid;
  width: 100%;
  overflow-x: hidden;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 56px;

  @include desktop{
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.campaigns-title{
  grid-column: 1 / span 4;

  @include desktop{
    grid-column: 8 / span 3;
    grid-row: 1;
    justify-self: center;
    align-self: end;
  }
}

.campaign-list-container{
  position: relative;
  grid-column: 1 / span 4;

  @include desktop{
    grid-column: 7 / span 4;
    grid-row: 2 / span 7;
    padding-right: 8px;
    padding-left: 8px;
    overflow: auto;
    overflow-x: visible;
  }

  .list-title{
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 84px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: color('text');
    background-color: color('secondary');
  };
}

.campaign-list{
  display: grid;
  row-gap: 24px;
  margin-top: 8px;
  margin-bottom: 8px;

  .manager-campaign-card{
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 6px;
    overflow: hidden;

    &:hover{
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    header{
      grid-column: 1 / span 6;
      grid-row: 1;
      padding: 12px 8px;
    }

    ul{
      grid-column: 1 / span 6;
      grid-row: 2;
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 8px;
      list-style-type: none;
      padding: 8px;
      margin: 0;
    }

    footer{
      grid-column: 1 / span 6;
      grid-row: 3;
      padding: 8px 8px 12px;
      direction: ltr;

      button{
        border: none;
      }
    }

  }
}

.navbar{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: color('primary');
  z-index: 1;

  .profile-picture{
    width: 42px;
    height: 42px;
    cursor: pointer;
    clip-path: circle(21px at center);
  }

  .user-menu{
    position: absolute;
    opacity: 0;
    top: 56px;
    margin-top: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 300px;
    background-color: color('primary');
    border-radius: 4px;
    user-select: none;
    transition: opacity .2s;

    &.visible{
      opacity: 1;
    }

    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;

      .menu-item{
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 100%;
        min-height: 48px;
        border-bottom: 1px solid color('primary-light');

        a{
          display: inline-flex;
          align-items: center;
          height: 48px;
          width: 100%;
          padding-left: 32px;
          padding-right: 32px;
          cursor: pointer;

          &:hover{
            background-color: lighten(color('primary'), 20%);
          }
          &:active{
            background-color: lighten(color('primary'), 15%);
          }

          img{
            width: 24px;
            height: 24px;
          }

          span{
            padding-left: 16px;
            color: color('text');
          }
        }
      }
    }

    .user-data{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-bottom: 16px;

      .user-image{
        position: relative;
        height: 72px;
        width: 72px;
        background: #ffffff;
        clip-path: circle(36px at center);

        img{
          position: absolute;
          top: 2px;
          left: 2px;
          height: 68px;
          width: 68px;
          clip-path: circle(34px at center);
        }
      }

      h6{
        padding-top: 8px;
        color: color('text');
      }

    }
  }
}

.input-container{
  position: relative;
  height: 56px;
  margin-top: 8px;
  min-width: 100px;

  input[type=text]{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    outline: none;
    padding-left: 14px;
    padding-right: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;

    &:focus{
      border: 2px solid color('secondary');
    }

    &:focus~.placeholder, &:not(:placeholder-shown)~.placeholder{
      color: color('secondary');
      background-color: white;
      padding-right: 6px;
      padding-left: 6px;
      transform: scale(.75) translateY(-38px);
      transform-origin: 0;
    }
  }

  .placeholder{
    position: absolute;
    left: 14px;
    top: calc(50% - 7px);
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: all .2s;
  }
}


