
#new-campaign-title{
  display: none;
  grid-column: 3 / span 4;
  grid-row: 1;
  width: 100%;
  justify-self: center;
  align-self: end;
  padding-left: 16px;

  @include desktop{
    display: inline-block;
  }

}

#add-campaign-btn{
  @include desktop{
    border-radius: 0;
    display: block;
    position: relative;
    grid-column: 3 / span 4;
    grid-row: 2 / span 3;
    clip-path: none;
    z-index: 0;
  }
}

#new-campaign-form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;

  .input-container{
    width: 100%;
  }
}

#campaign-list{
  position: relative;
  grid-column: 1 / span 4;

  @include desktop{
    grid-column: 7 / span 4;
    grid-row: 1 / span 12;
  }
}
