#new-campaign-title{
  display: none;
  grid-column: 3 / span 4;
  grid-row: 1;
  width: 100%;
  justify-self: center;
  align-self: end;
  padding-left: 16px;

  @include desktop{
    display: inline-block;
  }

}


#add-campaign-btn{
  @include desktop{
    border-radius: 0;
    display: block;
    position: relative;
    grid-column: 3 / span 4;
    grid-row: 2 / span 3;
    clip-path: none;
    z-index: 0;
  }
}

#new-campaign-form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;

  .input-container{
    width: 100%;
  }
}

#manager-campaigns-title{
  grid-column: 1 / span 4;
  width: 100%;
  padding-left: 16px;

  @include desktop{
    grid-column: 7 / span 4;
    grid-row: 1;
    justify-self: center;
    align-self: end;
  }
}

.campaign-list-container{
  position: relative;
  grid-column: 1 / span 4;

  @include desktop{
    grid-column: 7 / span 4;
    grid-row: 2 / span 11;
    padding-right: 8px;
    padding-left: 8px;
    overflow: auto;
    overflow-x: visible;
  }

  .list-title{
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 84px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: color('text');
    background-color: color('secondary');
  };
}

.campaign-list{
  display: grid;
  row-gap: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 8px 20px;

  .manager-campaign-card{
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 6px;
    overflow: hidden;

    &:hover{
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .status-container{
      display: inline-flex;
      flex-direction: row;
      align-items: center;

      img{
        width: 18px;
      }

      span{
        padding-left: 4px;
      }
    }

    header{
      grid-column: 1 / span 6;
      grid-row: 1;
      padding: 12px 8px;
    }

    ul{
      grid-column: 1 / span 6;
      grid-row: 2;
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 8px;
      list-style-type: none;
      padding: 8px;
      margin: 0;
    }

    footer{
      grid-column: 1 / span 6;
      grid-row: 3;
      padding: 8px 8px 12px;
      direction: ltr;

      button{
        border: none;
      }
    }

  }
}