<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<body>
    <nav class="sidebar" th:fragment="sidebar">
        <div class="sidebar-header">
            <div class="user-info">
                <img class="user-image" alt="User image" src="/assets/images/manager_icon.svg" th:src="${user.role.equals('WORKER')} ? ${worker.photo} : '/assets/images/manager_icon.svg'">
                <div class="user-data">
                    <span class="sidebar-username" th:text="${user.username}">username</span>
                    <span class="sidebar-role" th:text="${#messages.msg('role.'+user.role)}">Role</span>
                    <div class="user-status">
                        <img src="/assets/images/lens-24px-green.svg" th:src="@{/assets/images/lens-24px-green.svg}"/>
                        <span th:text="#{online}">Online</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <span class="sidebar-menu-title" th:text="#{general}">General</span>
            <th:block th:switch="${user.role}">
                <ul th:case="'MANAGER'">
                    <li class="sidebar-menu-item">
                        <a>
                            <img src="/assets/images/add.svg" th:src="@{/assets/images/add.svg}"/>
                            <span th:text="#{create-campaign}">Create a new campaign</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a>
                            <img src="/assets/images/checklist.svg" th:src="@{/assets/images/checklist.svg}"/>
                            <span th:text="#{my-campaigns}">My campaigns</span>
                        </a>
                    </li>
                </ul>
                <ul th:case="'WORKER'">
                    <li class="sidebar-menu-item">
                        <a>
                            <img src="/assets/images/plus.svg" th:src="@{/assets/images/plus.svg}"/>
                            <span th:text="#{subscribe-to-campaign}">Subscribe to a campaign</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a>
                            <img src="/assets/images/checklist.svg" th:src="@{/assets/images/checklist.svg}"/>
                            <span th:text="#{my-subscriptions}">View my subscriptions</span>
                        </a>
                    </li>
                </ul>
            </th:block>

        </div>
        <div class="sidebar-footer">
            <ul class="rapid-actions">
                <li class="rapid-action">
                    <a href="/logout" th:href="@{/logout}">
                        <img src="/assets/images/power_settings_new-24px.svg"/>
                    </a>
                </li>
                <li class="rapid-action">
                    <a href="/settings" th:href="@{/settings}">
                        <img src="/assets/images/settings-24px.svg"/>
                    </a>
                </li>
                <li class="rapid-action">
                    <a>
                        <img src="/assets/images/alarm.svg"/>
                    </a>
                </li>
            </ul>
            <!--<div class="footer-version">
                <span>v. 1.0.0</span>
            </div>-->
        </div>
    </nav>
</body>
</html>