<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>TIW Project</display-name>


    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:postgresql://ec2-46-137-177-160.eu-west-1.compute.amazonaws.com:5432/deocok8frj9l3j</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>kwbtptcjzrfefz</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>245fbfe423b42b88e37163b95b2938c81ce30705a95d1c4f82c2eaab66efa627</param-value>
    </context-param>

    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>

    <context-param>
        <param-name>loginFilterExclusions</param-name>
        <param-value>/test,/login,/logout,/create-user,/assets,/api</param-value>
    </context-param>

    <context-param>
        <param-name>i18n</param-name>
        <param-value>/WEB-INF/i18n/</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file></welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>


    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>WorkerFilter</filter-name>
        <url-pattern>/create-annotation</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <url-pattern>/create_campaign</url-pattern>
        <url-pattern>/campaign/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>CampaignFilter</filter-name>
        <url-pattern>/campaign/*</url-pattern>
    </filter-mapping>

    <!--
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>it.polimi.tiw.api</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    -->

    <!--
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    -->

</web-app>
